In [16]:
import pandas as pd
import matplotlib as plt
import os
%matplotlib inline

In [40]:
data_path = os.path.join(os.getcwd(), 'waqi-covid19-airqualitydata-2020.csv')
city_path = os.path.join(os.getcwd(), 'cn.csv')
data = pd.read_csv(data_path,header = 4)
city = pd.read_csv(city_path)

In [41]:
data = data[data['Country'] == 'CN']
data.rename(columns={'City':'city'},inplace=True)
city = city[['city','lat','lng']]

In [42]:
data.head()

,Date,Country,city,Specie,count,min,max,median,variance
928060,2020-04-20,CN,Beijing,wind-gust,140,14.9,19.0,16.9,15.15
928061,2020-05-02,CN,Beijing,wind-gust,20,9.7,9.7,9.7,0.00
928062,2020-05-04,CN,Beijing,wind-gust,20,7.7,7.7,7.7,0.00
928063,2020-05-24,CN,Beijing,wind-gust,60,7.2,8.7,8.7,5.08
928064,2020-05-26,CN,Beijing,wind-gust,20,6.6,6.6,6.6,0.00

In [58]:
data['city'].unique()

array(['Beijing', 'Jieyang', 'Kunming', 'Hangzhou', 'Chongqing',
       'Qingdao', 'Haikou', 'Ürümqi', 'Qiqihar', 'Guiyang', 'Shenzhen',
       'Yunfu', 'Xuchang', 'Yinchuan', 'Shenyang', 'Lhasa', 'Shanghai',
       'Changchun', 'Foshan', 'Nanning', 'Fushun', 'Hefei', 'Chengdu',
       'Hohhot', 'Qinhuangdao', 'Shijiazhuang', 'Shantou', 'Zhengzhou',
       'Nanjing', 'Xining', 'Xi’an', 'Zhuzhou', 'Wuhan', 'Tianjin',
       'Changzhou', 'Nanchang', 'Shiyan', 'Xinxiang', 'Suzhou', 'Harbin',
       'Lanzhou', 'Jinan', 'Changsha', 'Hegang', 'Anyang', 'Wuxi',
       'Taiyuan', 'Guangzhou', 'Fuzhou', 'Ningbo', 'Xiamen', 'Dongguan'],
      dtype=object)

In [44]:
data = pd.merge(data,city,how = 'left',on = 'city')

In [53]:
data

,Date,Country,city,Specie,count,min,max,median,variance,lat,lng
0,2020-04-20,CN,Beijing,wind-gust,140,14.9,19.0,16.9,15.15,39.9050,116.3914
1,2020-05-02,CN,Beijing,wind-gust,20,9.7,9.7,9.7,0.00,39.9050,116.3914
2,2020-05-04,CN,Beijing,wind-gust,20,7.7,7.7,7.7,0.00,39.9050,116.3914
3,2020-05-24,CN,Beijing,wind-gust,60,7.2,8.7,8.7,5.08,39.9050,116.3914
4,2020-05-26,CN,Beijing,wind-gust,20,6.6,6.6,6.6,0.00,39.9050,116.3914
...,...,...,...,...,...,...,...,...,...,...,...
207228,2020-07-29,CN,Dongguan,o3,130,0.9,115.6,17.5,9847.02,39.0173,111.1267
207229,2020-08-12,CN,Dongguan,o3,142,0.5,78.6,9.0,2140.12,23.0475,113.7493
207230,2020-08-12,CN,Dongguan,o3,142,0.5,78.6,9.0,2140.12,39.0173,111.1267
207231,2020-09-03,CN,Dongguan,o3,139,0.5,127.6,46.3,10269.00,23.0475,113.7493
207232,2020-09-03,CN,Dongguan,o3,139,0.5,127.6,46.3,10269.00,39.0173,111.1267

In [56]:
data.isna().sum()

Date            0
Country         0
city            0
Specie          0
count           0
min             0
max             0
median          0
variance        0
lat         15034
lng         15034
dtype: int64

In [55]:
data[data['lat'].isna()]['city'].unique()

array(['Xuchang', 'Fushun', 'Qinhuangdao', 'Xinxiang'], dtype=object)